<!DOCTYPE HTML>
<html onselectstart='return false'>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>李菇凉与朱先森</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/Swiper/3.4.2/css/swiper.min.css">
    <link rel="stylesheet" href="./../Love_files/css/photo.css">
    <link rel="icon" href="./../img/love_heart_128px_1131800_easyicon.net.ico">
  </head>
  <body>
    <audio src="./../beautiful.mp3"  id="music"  autoplay="autoplay" loop></audio>
    <header class="wrapper">
      <div class="back">
      <a href="index.html">返回上一页</a>
      </div>
      <div id="wrap">
        <ul class="wrapper-item">
          
        </ul>
      </div>
      <p class="img-words">点滴见证</p>
    </header>

    <main>
      <div class="color">
        <div class="screen swiper-container">
          <ul class="swiper-wrapper">
            
          </ul>
        </div>
        <button class="check">换一批</button>
      </div>
    </main>
    <div class="box">
      <ul class="img-wrapper">
        
      </ul>
    </div>
  </body>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.min.js'></script>
  <script src='./../Love_files/js/photo.js'></script>
  
</html>